@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

svg.star-svg {
  @apply inline;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  .container {
    @apply w-full max-w-[1200px] px-5 mx-auto;
  }

  .grid-layout {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }

  .menu-item {
    @apply text-base font-medium border-b border-solid border-transparent;
  }

  .menu-item.active {
    @apply font-bold;
  }

  .menu-item:hover {
    @apply transition-all duration-300 ease-linear border-white md:border-black;
  }

  .header {
    @apply font-semibold text-3xl text-center mt-[100px] mb-5;
  }

  .custom-select {
    @apply border-none outline-none p-4 bg-deep-blue text-white rounded;
  }

  .footer--heading {
    @apply font-semibold text-lg mb-8;
  }

  .footer--link {
    @apply text-sm transition-all duration-300 ease-linear border-b border-transparent border-solid hover:border-white;
  }

  .tab {
    @apply inline-block py-2 px-4 cursor-pointer;
  }

  .tab.active {
    @apply font-semibold;
  }

  .input-group {
    @apply flex flex-col gap-2 mb-2;
  }

  .input-group select {
    @apply w-full outline-none p-[9px] rounded border border-solid border-gray-300;
  }

  .admin-nav-tab {
    @apply py-2 px-3 text-black rounded transition-all duration-300 ease-linear;
  }

  .admin-nav-tab span {
    @apply border-b border-solid border-transparent transition-all duration-300 ease-linear;
  }

  .admin-nav-tab span:hover {
    @apply border-black;
  }

  .admin-nav-tab:hover {
    @apply border-black;
  }

  .admin-nav-tab.active {
    @apply bg-yellow-100;
  }

  /* Table */
  .custom-table {
    @apply relative overflow-x-auto;
  }

  .custom-table table {
    @apply w-full text-sm text-left text-gray-500;
  }
  .custom-table thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50;
  }
  .custom-table tbody tr {
    @apply bg-white border-b;
  }

  /* Pagination */
  .paginate_btn {
    @apply px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  }

  .paginate_btn.active {
    @apply text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:bg-gray-700 dark:text-white;
  }
}

@layer utilities {
  .hidden-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
